<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
 <script src="scripts.js"></script>
 <link rel="stylesheet" href="styles.css">
</head>
<body>
<div ng-app='angularDemo' class="ng-cloak" ng-cloak="">
  <div ng-controller="angularController as ctrl">
    <h2>Filtering with Angular Filters</h2>
    <div class="sidebar">
      <div ng-repeat="filter in Filters">
        <h3 class="sort">{{filter.name}}</h3>
        <ul class="sortoptions">
          <li ng-repeat="option in filter.options">
            <input type="checkbox" ng-model="option.IsIncluded" ng-checked="option.IsIncluded"> {{option.value}}
            <span>({{option.count}})</span>
          </li>
        </ul>
      </div>
      <button ng-click="ctrl.toggleAll($event, false)">Uncheck All</button>
      <button ng-click="ctrl.toggleAll($event, true)">Check All</button>
    </div>

    <div class="productlist">
      <div ng-repeat="fruit in Fruits | dynamicFilter:Filters:this" class="product">
        {{fruit.name}}
      </div>
    </div>
  </div>
</div>

<p>
{
  "resourceType": "Person",
  "id": "example",
  "text": {
    "status": "generated",
    "div": "<div>\n      <table>\n        <tbody>\n          <tr>\n            <td>Name</td>\n            <td>Peter James <b>Chalmers</b> (&quot;Jim&quot;)</td>\n          </tr>\n          <tr>\n            <td>Address</td>\n            <td>534 Erewhon, Pleasantville, Vic, 3999</td>\n          </tr>\n          <tr>\n            <td>Contacts</td>\n            <td>Home: unknown. Work: (03) 5555 6473</td>\n          </tr>\n          <tr>\n            <td>Id</td>\n            <td>MRN: 12345 (Acme Healthcare)</td>\n          </tr>\n        </tbody>\n      </table>\n    </div>"
  },
  "identifier": [
    {
      "fhir_comments": [
        "  MRN assigned by ACME healthcare on 6-May 2001  "
      ],
      "use": "usual",
      "type": {
        "coding": [
          {
            "system": "http://hl7.org/fhir/v2/0203",
            "code": "MR"
          }
        ]
      },
      "system": "urn:oid:1.2.36.146.595.217.0.1",
      "value": "12345",
      "period": {
        "start": "2001-05-06"
      },
      "assigner": {
        "display": "Acme Healthcare"
      }
    }
  ],
  "name": [
    {
      "fhir_comments": [
        "  Peter James Chalmers, but called \"Jim\"  "
      ],
      "use": "official",
      "family": [
        "Chalmers"
      ],
      "given": [
        "Peter",
        "James"
      ]
    },
    {
      "use": "usual",
      "given": [
        "Jim"
      ]
    }
  ],
  "telecom": [
    {
      "fhir_comments": [
        "  home communication details aren't known  "
      ],
      "use": "home"
    },
    {
      "system": "phone",
      "value": "(03) 5555 6473",
      "use": "work"
    }
  ],
  "gender": "male",
  "_gender": {
    "fhir_comments": [
      "  use FHIR code system for male / female  "
    ]
  },
  "birthDate": "1974-12-25",
  "address": [
    {
      "use": "home",
      "line": [
        "534 Erewhon St"
      ],
      "city": "PleasantVille",
      "state": "Vic",
      "postalCode": "3999"
    }
  ],
  "active": true,
  "link": [
    {
      "target": {
        "reference": "RelatedPerson/peter",
        "display": "Peter Chalmers"
      }
    },
    {
      "target": {
        "reference": "Patient/example",
        "display": "Peter Chalmers"
      }
    }
  ]
}
</p>
</body>
</html>
